#form-register h1 {
  color: #2D3648;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

#form-register-excel h1 {
  color: #2D3648;
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

#form-register p {
  font-weight: bold;
  color: #2D3648;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
}

.form-section {
  display: block;
  width: 70vw;
  margin: 30px;
}

.title-style {
  display: block;
  flex-direction: column;
  height: "90px";
  align-items: 'center';
  margin: 3% 1% 1% 1%;
  width: 78vw;
}

.title-section {
  margin: 122px 20px 20px 0px;
}


.product-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.product-form .form-group label {
  color: #21272A;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  margin-bottom: 5px;
}

.product-form .form-group input,
.product-form .form-group select {
  background-color: #F2F4F8;
  border-bottom: 1px solid #C1C7CD !important;
  padding: 10px;
  font-size: 16px;
  border: transparent;
}

.product-form .form-group input:focus,
.product-form .form-group select:focus {
  border-color: #F2F4F8;
  outline: none;
}

.product-form .required {
  color: red;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #F07E18;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #F07E18;
}

.table-section {
  width: 80%;
  margin: 30px;
}

.table-section-full {
  width: 80%;
  margin: 30px;
}

.card-body-form {
  width: 80vw;
  padding: 20px;
  margin-bottom: 40px;
  border: 1px solid #DDE1E6;
  background-color: #f9f9f9;
}

.card-body {
  width: 80vw;
  padding: 20px;
  border: 1px solid #DDE1E6;
  background-color: #f9f9f9;
}

.card-title {
  margin-bottom: 20px;
}

.card-description-listagem {
  font-size: 18px;
  font-weight: bold;
  color: #2D3648;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.table.table-striped {
  width: 100%;
  border-collapse: collapse;
}

.table.table-striped th,
.table.table-striped td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table.table-striped th {
  background-color: #F2F4F8;
  color: #121619;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.table>:not(:first-child) {
  border-top: 1px solid #D9D9D9;
}

.table.table-striped td {
  --bs-table-accent-bg: rgb(255 255 255 / 5%) !important;
}

.table.table-striped th input[type="checkbox"],
.table.table-striped td input[type="checkbox"] {
  margin: 0;
}

.table.table-striped .sort-arrow {
  cursor: pointer;
}

.form-up .form-group #productName {
  width: 42vw;
  padding: 10px;
}

.form-up .form-group #productType {
  width: 32vw;
  padding: 10px;
}

.form-down .form-group #unit {
  width: 42vw;
}

.form-down .submit-btn {
  width: 17vh;
  height: 6vh;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
}


/* text editor*/
.rs-picker-default .rs-picker-toggle.rs-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  width: 282px;
}

/* picked date align */
.rs-picker-default .rs-picker-toggle {
  position: relative;
  z-index: 5;
  padding-right: 67px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #575757;
  border: 1px solid #e5e5ea;
  padding-left: 44px;
}
/* calander align */
.rs-picker-toggle-caret {
  display: inline-block;
  margin-right: 240px;
  position: absolute;
  top: 8px;
  right: 12px;
  font-weight: normal;
  color: #8e8e93;
}

/* ok button style */
.rs-picker-toolbar-right-btn-ok { 
  text-align: center; 
  cursor: pointer;
  outline: 0 ; 
  border: none; 
  padding: 8px 12px; 
  font-size: 14px; 
  border-radius: 30px;
  color: #fff;
  background-color: #3498ff;
  width: 100px;
}

/* range style */
.rs-picker-menu .rs-calendar .rs-calendar-table-cell-content {
  padding-left: 0;
  padding-right: 0;
  border-radius: 21px;
  display: inline-block;
}

.rs-picker-daterange .rs-picker-toggle {
  background-color: #f0f0f0; /* Exemplo de alteração do background */
  border-radius: 5px; /* Exemplo de alteração do border radius */
}

.rs-picker-daterange .rs-picker-toggle-clean {
  color: red; /* Exemplo de alteração da cor do botão de limpar */
}

.rs-picker-daterange > .rs-input-group.rs-input-group-inside .rs-input {
  padding-left: 10px !important;
}

#teste {
  background-color: red;
}