
.TituloPrincipal {
  font-size: larger;
  font-weight: bold;
  font-family: "Inter", sans-serif ;
}

.SubTitulo {
  font-size: medium;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  align-content: end;
}

.SubTexto {
  font-size: medium;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1 rem;
  padding-right: 0.5rem;
}

.SpaceCima {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.RemoverEspacoDireito {
  padding-right: 0px;
}