#link-nav{
    color: white;
    text-decoration: none;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    
    margin-top: 0;
}

#components{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.sidebar {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    margin-right: 10%;
    height: 100%;
}
body{
    padding-left: 280px;
}