.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 200px;
}

.custom-select-arrow {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-select-arrow img {
  width: 28px;
  height: auto;
}

.custom-select {
  text-decoration-line: underline;
  color: #000000;
  border: none;
  padding: 10px;
  padding-left: 40px;
  appearance: none;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
}

.custom-select:focus {
  outline: none;
}