.sidebar{
    position: fixed;
    height: 100vh;
    /* overflow-y: auto;  */
    color: #FFFFFF;
}

.customMenuItem {
    display: flex;
    align-items: center;
}

.sidebar *{
    background-color: #306B34!important;
}