.cardScrt {
    border-radius: 5px !important;
    padding: 5px !important;
    height: 100% !important;
    width: 220px;
}


.titulo{
    font-size: 13.5px !important;
    margin-bottom: auto !important;
    height: 50% !important;
}

.info{
    font-size: 26px !important;
    margin-top: auto !important;
    height: 50% !important;
}

.selectDataContainer {
  position: relative;
  bottom: 8px;
}

.selectCampanhaContainer {
    position: relative;
    bottom: 8px;
    width: 100%;
  }