#form-register h1 {
    color: #2D3648;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

#form-register p {
    font-weight: bold;
    color: #2D3648;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 2vh;
}

.form-section {
    display: block;
    width: 70vw;
    margin: 30px;
}

.section-title {
    margin: 36px 20px 20px 0px;
}

.product-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.product-form .form-group label {
    color: #21272A;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 5px;
}

.product-form .form-group input,
.product-form .form-group select {
    background-color: #F2F4F8;
    border-bottom: 1px solid #C1C7CD !important;
    padding: 10px;
    font-size: 16px;
    border: transparent;
}

.product-form .form-group input:focus,
.product-form .form-group select:focus {
    border-color: #F2F4F8;
    outline: none;
}

.product-form .required {
    color: red;
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #F07E18;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 5vh;
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
}

.submit-btn:hover {
    background-color: #F07E18;
}

.table-section {
    width: 80%;
    margin: 30px;
}

.card-body-form {
    width: 80vw;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid #DDE1E6;
    background-color: #f9f9f9;
}



.card-title {
    margin-bottom: 20px;
}

.card-description {
    font-size: 18px;
    font-weight: bold;
    color: #2D3648;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.table-responsive {
    overflow-x: auto;
}

.table.table-striped {
    width: 100%;
    border-collapse: collapse;
}

.table.table-striped th,
.table.table-striped td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table.table-striped th {
    background-color: #F2F4F8;
    color: #121619;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.table>:not(:first-child) {
    border-top: 1px solid #D9D9D9;
}

.table.table-striped td {
    --bs-table-accent-bg: rgb(255 255 255 / 5%) !important;
}

.table.table-striped th input[type="checkbox"],
.table.table-striped td input[type="checkbox"] {
    margin: 0;
}

.table.table-striped .sort-arrow {
    cursor: pointer;
}

.form-up .form-group #productName {
    width: 36vw;
    padding: 10px;
}

.form-group label img{
    margin-left: 5px;
}

.form-up .form-group #productType {
    width: 36vw;
    padding: 10px;
}

.form-down .form-group #unitQuantity {
    width: 36vw;
}

.form-down .form-group #lot {
    width: 36vw;
    background-color: #DFE0E1;
}

.form-group #lot {
    width: 36vw;
    background-color: #DFE0E1 !important;
}

.card-body-form p img{
    margin-left: 10px;
}

.btn-end {
    display: flex;
    justify-content: flex-end;
}

.btn-header {
    display: flex;
    width: 80vw;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
}

.submit-btn-header {
    display: inline-block;
    margin: 36px 0px 20px 0px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #F07E18;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}